@using ProjectWork.Models;
@model User
@{
    ViewBag.Title = "ResetPasseord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ResetPasseord</h2>

<div class="alert alert-danger">
    <span id="tb"></span>
</div>
<form onsubmit="return checkResetPass()" action="@Url.Action("ResetPassword")" method="post">
    <input type="password" class="form-control" name="OldPassword" id="OldPassword" placeholder="Nhập mật khẩu cũ" />
    <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Xác thực mật khẩu" />
    <input type="password" class="form-control" name="NewPassword" placeholder="Nhập mật khẩu mới" />
    <input type="submit" value="Reset" class="btn btn-danger" />
</form>

<input type="hidden" name="Pass" id="pass" value="@Model.user_pass" />
<script>
    function checkResetPass() {
        let pass = document.getElementById("pass").value;
        let oldPass = document.getElementById("OldPassword").value;
        let confirmPass = document.getElementById("ConfirmPassword").value;
        

        document.getElementById("tb").innerText = "";

        if (pass != oldPass) {
            document.getElementById("tb").innerText = "Mật khẩu ko đúng";
            return false;
        }
        else if (oldPass != confirmPass) {
            document.getElementById("tb").innerText = "Mật khẩu ko trùng khớp";
            return false;
        }
        return true;
    }

</script>