@using ProjectWork.Models;
@{
    ViewBag.Title = "Thành phần chung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{ 
    DataWork_projectEntities db = new DataWork_projectEntities();
    List<Province> provinces = db.Provinces.ToList();
    List<Category> categories  = db.Categories.ToList();
}

<div class="col-12">
    <h2 class="mb-2 page-title">@ViewBag.Title</h2>
    <div class="row my-4">
        <div class="col-md-12">
            <div class="">
                <div class="card-body">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card shadow text-center mb-4" onclick="window.location.href='/Admin/CategoriesAdmin/Index'">
                                        <div class="card-body file">
                                            <div class="circle circle-lg bg-secondary my-4">
                                                <span class="fe fe-folder fe-24 text-white"></span>
                                            </div>
                                        </div> <!-- .card-body -->
                                        <div class="card-footer bg-transparent border-0 fname">
                                            <strong><span class="dot dot-md bg-success mr-2"></span>Nghành nghề</strong>
                                        </div> <!-- .card-footer -->
                                    </div> <!-- .card -->
                                </div>
                                <div class="col-md-3">
                                    <div class="card shadow text-center mb-4" onclick="window.location.href='/Admin/ProvincesAdmin/Index'">
                                        <div class="card-body file">
                                            <div class="circle circle-lg bg-secondary my-4">
                                                <span class="fe fe-folder fe-24 text-white"></span>
                                            </div>
                                        </div> <!-- .card-body -->
                                        <div class="card-footer bg-transparent border-0 fname">
                                            <strong><span class="dot dot-md bg-success mr-2"></span>Tỉnh thành</strong>
                                        </div> <!-- .card-footer -->
                                    </div> <!-- .card -->
                                </div>
                                <div class="col-md-3">
                                    <div class="card shadow text-center mb-4" onclick="window.location.href='/Admin/FormsAdmin/Index'">
                                        <div class="card-body file">
                                            <div class="circle circle-lg bg-secondary my-4">
                                                <span class="fe fe-folder fe-24 text-white"></span>
                                            </div>
                                        </div> <!-- .card-body -->
                                        <div class="card-footer bg-transparent border-0 fname">
                                            <strong><span class="dot dot-md bg-success mr-2"></span>Hình thức</strong>
                                        </div> <!-- .card-footer -->
                                    </div> <!-- .card -->
                                </div>
                                <div class="col-md-3">
                                    <div class="card shadow text-center mb-4" onclick="window.location.href='/Admin/PositionsAdmin/Index'">
                                        <div class="card-body file">
                                            <div class="circle circle-lg bg-secondary my-4">
                                                <span class="fe fe-folder fe-24 text-white"></span>
                                            </div>
                                        </div> <!-- .card-body -->
                                        <div class="card-footer bg-transparent border-0 fname">
                                            <strong><span class="dot dot-md bg-success mr-2"></span>Chức vụ</strong>
                                        </div> <!-- .card-footer -->
                                    </div> <!-- .card -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr>
                </div>
            </div>
        </div> <!-- simple table -->
    </div> <!-- end section -->
</div>
