
@{
    ViewBag.Title = "GeneralIngredients";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GeneralIngredients</h2>

@Html.Action("Index", "CategoriesAdmin")
<br />
<hr>
@Html.Action("Index", "ProvincesAdmin")