<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid px-md-4	">
        <a class="navbar-brand" href="index.html"><i class="fas fa-search-dollar">&nbsp;</i>AllWork1s</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="index.html" class="nav-link">Về allwork1s</a></li>
                <li class="nav-item"><a href="browsejobs.html" class="nav-link">Mẫu CV</a></li>
                <li class="nav-item"><a href="candidates.html" class="nav-link">Việc làm</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Công ty</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Cuộc sống công việc</a></li>
                <li class="nav-item cta mr-md-1"><a href="#" data-toggle="modal" data-target="#login" class="nav-link"><i class="fas fa-sign-in-alt">&nbsp;</i>Dăng nhập</a></li>
                <li class="nav-item cta cta-colored"><a href="job-post.html" class="nav-link">Nhà tuyển dụng</a></li>
            </ul>
        </div>
    </div>
</nav>

@Html.Action("Modal", "View")