<!--Đăng nhập-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="font-weight-bold text-center">Đăng nhập để sử dụng</h4>
                <button class="ui facebook button w-100">
                    <i class="facebook icon"></i>
                    Đăng nhập bằng facebook
                </button>
                <p class="mt-1 text-black-50">
                    Khi bạn đăng nhập bằng facebook, mặc định bạn đồng ý với <span style="color: green">Điều khoản dịch vụ</span> và <span style="color: green">Chính sách bảo mật</span> của AllWork1s
                </p>
                <hr />
                <div class="text-center">Hoặc đăng nhập bằng email</div>
                <form class="ui form mt-2" action="@Url.Action("Login", "User")" method="post">
                    <div class="field">
                        <input placeholder="Email" name="UserName" type="text">
                    </div>
                    <div class="field">
                        <input placeholder="Mật khẩu" name="Password" type="password">
                    </div>
                    <div class="ui green submit button w-100"><i class="fas fa-sign-in-alt">&nbsp;</i>Đăng nhập</div>
                    <div class="text-center"><a href="#" class="text-dark">Quên mật khẩu?</a></div>
                    <div class="ui error message"></div>
                    <input type="hidden" value="@HttpContext.Current.Request.Url.AbsoluteUri" name="ReturnUrl" />
                    <hr />
                </form>
                <a href="/User/Reg" class="ui red submit button w-100">Đăng ký tài khoản mới</a>
            </div>
        </div>
    </div>
</div>
<!--//Đăng nhập-->
