

<h2>Login</h2>

<form action="@Url.Action("Login")" method="post">
    <input type="text" name="UserName" />
    <input type="password" name="Password" />
    <input type="submit" value="Dang nhap" />
</form>
<span>@ViewBag.Notification_Login_Employer</span>