

<h2>Reg</h2>

<form action="@Url.Action("Reg")" method="post">
    <input type="email" name="Email" />
    <input type="text" name="DisplayName" />
    <input type="password" name="Password" />
    <input type="password" name="" />
    <input type="submit" value="Dang ky" />
</form>
@ViewBag.Notification_Login_Employer