
@{
    ViewBag.Title = "Nhà tuyển dụng";
    Layout = "~/Areas/ManageEmployers/Views/Shared/_LayoutEmployer.cshtml";
}

<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 banner-info-bg">
                                        <h5>Đăng tin tuyển dụng & tìm hồ sơ ứng viên hiệu quả trên AllWork1s</h5>
                                        <p class="mt-md-4 mt-3">
                                            Đăng tin tuyển dụng MIỄN PHÍ để tiếp cận 2.000.000+ người tìm việc
                                        </p>
                                        <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#book">
                                            Đăng tin ngay
                                        </a>
                                        <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
                                            Tìm ứng viên
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>

