USE [master]
GO
/****** Object:  Database [DataWork_project]    Script Date: 15-Dec-20 6:57:41 PM ******/
CREATE DATABASE [DataWork_project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataWork_project', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DataWork_project.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DataWork_project_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DataWork_project_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataWork_project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataWork_project]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NULL,
	[category_datecreate] [datetime] NULL,
	[category_dateupdate] [datetime] NULL,
	[category_view] [int] NULL,
	[category_active] [bit] NULL,
	[category_del] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[comment_contents] [nvarchar](max) NULL,
	[user_id] [int] NULL,
	[comment_datepost] [datetime] NULL,
	[employer_id] [int] NULL,
	[comment_del] [bit] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cv]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cv](
	[cv_id] [int] IDENTITY(1,1) NOT NULL,
	[cv_fullname] [nvarchar](200) NULL,
	[cv_location] [nvarchar](200) NULL,
	[cv_birth] [date] NULL,
	[cv_phone] [varchar](15) NULL,
	[cv_email] [varchar](100) NULL,
	[cv_addpress] [nvarchar](200) NULL,
	[cv_website] [varchar](max) NULL,
	[cv_target] [nvarchar](300) NULL,
	[cv_interests] [nvarchar](500) NULL,
	[cv_information] [nvarchar](500) NULL,
	[cv_title] [nvarchar](200) NULL,
	[cv_img] [nvarchar](max) NULL,
	[theme_id] [int] NULL,
	[sex_id] [int] NULL,
	[user_id] [int] NULL,
	[cv_font] [nvarchar](200) NULL,
	[cv_size] [int] NULL,
	[cv_line] [int] NULL,
	[cv_education] [nvarchar](max) NULL,
	[cv_graduation] [nvarchar](max) NULL,
	[cv_jobexperience] [nvarchar](max) NULL,
	[cv_datejobexperience] [nvarchar](max) NULL,
	[cv_outdooractivities] [nvarchar](max) NULL,
	[cv_dateoutdooractivities] [nvarchar](max) NULL,
	[cv_certificate] [nvarchar](max) NULL,
	[cv_datecertificate] [nvarchar](max) NULL,
	[cv_prize] [nvarchar](max) NULL,
	[cv_dateprize] [nvarchar](max) NULL,
	[cv_skill] [nvarchar](max) NULL,
	[cv_dateskill] [nvarchar](max) NULL,
	[species_id] [int] NULL,
	[specialized_id] [int] NULL,
	[cv_scores] [varchar](50) NULL,
	[cv_company] [nvarchar](200) NULL,
	[cv_jobposition] [nvarchar](max) NULL,
	[cv_contentwork] [nvarchar](max) NULL,
	[cv_organizationname] [nvarchar](max) NULL,
	[cv_organizationalposition] [nvarchar](max) NULL,
	[cv_contentorganizational] [nvarchar](max) NULL,
	[cv_certificatename] [nvarchar](max) NULL,
	[cv_del] [bit] NULL,
 CONSTRAINT [PK_Cv] PRIMARY KEY CLUSTERED 
(
	[cv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employer]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employer](
	[employer_id] [int] IDENTITY(1,1) NOT NULL,
	[employer_email] [varchar](100) NULL,
	[employer_pass] [varchar](200) NULL,
	[employer_company] [nvarchar](300) NULL,
	[employer_introduct] [nvarchar](max) NULL,
	[employer_yeartoset] [date] NULL,
	[employer_scale] [int] NULL,
	[employer_yotube] [nvarchar](max) NULL,
	[employer_product] [nvarchar](max) NULL,
	[employer_develop] [nvarchar](max) NULL,
	[employer_salary] [nvarchar](max) NULL,
	[employer_promotion] [nvarchar](max) NULL,
	[employer_datecreate] [datetime] NULL,
	[employer_datelogin] [datetime] NULL,
	[employer_dateupdate] [datetime] NULL,
	[employer_logo] [nvarchar](max) NULL,
	[employer_address] [nvarchar](max) NULL,
	[employer_fullname] [nvarchar](200) NULL,
	[employer_pageload] [bit] NULL,
	[employer_active] [bit] NULL,
	[employer_option] [bit] NULL,
	[employer_banner] [nvarchar](max) NULL,
	[employer_fc] [nvarchar](max) NULL,
	[employer_website] [nvarchar](max) NULL,
	[employer_amoutwork] [int] NULL,
	[version_id] [int] NULL,
	[employer_del] [bit] NULL,
 CONSTRAINT [PK_Employer] PRIMARY KEY CLUSTERED 
(
	[employer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExpYear]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpYear](
	[expyear_id] [int] IDENTITY(1,1) NOT NULL,
	[expyear_name] [nvarchar](200) NULL,
 CONSTRAINT [PK_ExpYear] PRIMARY KEY CLUSTERED 
(
	[expyear_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Favourite]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourite](
	[favourite_id] [int] IDENTITY(1,1) NOT NULL,
	[favourite_datecreate] [datetime] NULL,
	[work_id] [int] NULL,
	[user_id] [int] NULL,
	[favourite_delete] [bit] NULL,
 CONSTRAINT [PK_Favourite] PRIMARY KEY CLUSTERED 
(
	[favourite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Form]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[form_id] [int] IDENTITY(1,1) NOT NULL,
	[form_name] [nvarchar](200) NULL,
 CONSTRAINT [PK_Form] PRIMARY KEY CLUSTERED 
(
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Layout]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Layout](
	[layout_id] [int] IDENTITY(1,1) NOT NULL,
	[ct_1] [nvarchar](max) NULL,
	[ct_2] [nvarchar](max) NULL,
	[ct_3] [nvarchar](max) NULL,
	[ct_4] [nvarchar](max) NULL,
	[ct_5] [nvarchar](max) NULL,
	[ct_6] [nvarchar](max) NULL,
	[ct_7] [nvarchar](max) NULL,
	[ct_8] [nvarchar](max) NULL,
	[ct_9] [nvarchar](max) NULL,
	[ct_10] [nvarchar](max) NULL,
	[ct_11] [nvarchar](max) NULL,
	[ct_12] [nvarchar](max) NULL,
	[ct_13] [nvarchar](max) NULL,
	[ct_14] [nvarchar](max) NULL,
	[ct_15] [nvarchar](max) NULL,
	[ct_16] [nvarchar](max) NULL,
	[ct_17] [nvarchar](max) NULL,
	[ct_18] [nvarchar](max) NULL,
	[ct_19] [nvarchar](max) NULL,
	[ct_20] [nvarchar](max) NULL,
	[ct_21] [nvarchar](max) NULL,
	[ct_22] [nvarchar](max) NULL,
	[ct_23] [nvarchar](max) NULL,
	[ct_24] [nvarchar](max) NULL,
	[ct_25] [nvarchar](max) NULL,
 CONSTRAINT [PK_Layout] PRIMARY KEY CLUSTERED 
(
	[layout_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[news_title] [nvarchar](255) NULL,
	[news_image] [nvarchar](max) NULL,
	[news_contents] [nvarchar](max) NULL,
	[news_tags] [nvarchar](max) NULL,
	[news_datepost] [datetime] NULL,
	[news_views] [int] NULL,
	[news_del] [bit] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[employer_id] [int] NULL,
	[servicepack_id] [int] NULL,
	[order_totalprice] [money] NULL,
	[order_dateadd] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Position]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[position_id] [int] IDENTITY(1,1) NOT NULL,
	[position_name] [nvarchar](max) NULL,
	[position_datacreate] [datetime] NULL,
	[position_dateupdate] [datetime] NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[province_id] [int] IDENTITY(1,1) NOT NULL,
	[province_name] [nvarchar](200) NULL,
	[province_del] [bit] NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reply]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reply](
	[rep_id] [int] IDENTITY(1,1) NOT NULL,
	[rep_contents] [nvarchar](max) NULL,
	[comment_id] [int] NULL,
	[user_id] [int] NULL,
	[rep_datepost] [datetime] NULL,
	[rep_del] [bit] NULL,
 CONSTRAINT [PK_Reply] PRIMARY KEY CLUSTERED 
(
	[rep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Search]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Search](
	[search_id] [int] IDENTITY(1,1) NOT NULL,
	[search_key] [nvarchar](255) NULL,
	[search_count] [int] NULL,
	[search_date] [datetime] NULL,
 CONSTRAINT [PK_Search] PRIMARY KEY CLUSTERED 
(
	[search_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServicePack]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePack](
	[servicepack_id] [int] IDENTITY(1,1) NOT NULL,
	[servicepack_title] [nvarchar](255) NULL,
	[servicepack_description] [nvarchar](max) NULL,
	[servicepack_listedprice] [money] NULL,
	[servicepack_actualprice] [money] NULL,
	[servicepack_unit] [nvarchar](255) NULL,
	[servicepack_users] [bit] NULL,
	[servicepack_emloyers] [bit] NULL,
 CONSTRAINT [PK_ServicePack] PRIMARY KEY CLUSTERED 
(
	[servicepack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sex]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[sex_id] [int] IDENTITY(1,1) NOT NULL,
	[sex_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[sex_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specialized]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialized](
	[specialized_id] [int] IDENTITY(1,1) NOT NULL,
	[specialized_name] [nvarchar](200) NULL,
 CONSTRAINT [PK_specialized] PRIMARY KEY CLUSTERED 
(
	[specialized_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Species]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Species](
	[species_id] [int] IDENTITY(1,1) NOT NULL,
	[species_id_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Species] PRIMARY KEY CLUSTERED 
(
	[species_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubmitCV]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmitCV](
	[submitcv_id] [int] IDENTITY(1,1) NOT NULL,
	[work_id] [int] NULL,
	[submitcv_datesubmit] [datetime] NULL,
	[cv_id] [int] NULL,
 CONSTRAINT [PK_SubmitCV] PRIMARY KEY CLUSTERED 
(
	[submitcv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Theme]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theme](
	[theme_id] [int] IDENTITY(1,1) NOT NULL,
	[theme_title] [nvarchar](200) NULL,
	[vtheme] [int] NULL,
	[theme_img] [nvarchar](max) NULL,
 CONSTRAINT [PK_Theme] PRIMARY KEY CLUSTERED 
(
	[theme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](200) NULL,
	[user_pass] [nvarchar](max) NULL,
	[user_name] [nvarchar](100) NULL,
	[user_active] [bit] NULL,
	[user_del] [bit] NULL,
	[user_datecreate] [datetime] NULL,
	[user_datelogin] [datetime] NULL,
	[user_img] [nvarchar](max) NULL,
	[user_sex] [bit] NULL,
	[user_interests] [nvarchar](500) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Version]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[version_id] [int] IDENTITY(1,1) NOT NULL,
	[varsion_name] [nvarchar](200) NULL,
 CONSTRAINT [PK_Version] PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VersionTheme]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VersionTheme](
	[vtheme] [int] IDENTITY(1,1) NOT NULL,
	[vtheme_name] [nvarchar](200) NULL,
 CONSTRAINT [PK_VersionTheme] PRIMARY KEY CLUSTERED 
(
	[vtheme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Work]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Work](
	[work_id] [int] IDENTITY(1,1) NOT NULL,
	[work_name] [nvarchar](200) NULL,
	[work_img] [nvarchar](max) NULL,
	[work_deadline] [datetime] NULL,
	[work_createdate] [datetime] NULL,
	[work_description] [nvarchar](max) NULL,
	[work_request] [nvarchar](max) NULL,
	[work_benefit] [nvarchar](max) NULL,
	[work_address] [nvarchar](1000) NULL,
	[work_money] [nvarchar](200) NULL,
	[work_amount] [int] NULL,
	[work_active] [bit] NULL,
	[work_option] [bit] NULL,
	[work_view] [int] NULL,
	[work_del] [bit] NULL,
	[work_status] [bit] NULL,
	[work_dateupdate] [datetime] NULL,
	[employer_id] [int] NULL,
	[position_id] [int] NULL,
	[sex_id] [int] NULL,
	[province_id] [int] NULL,
	[expyear_id] [int] NULL,
	[form_id] [int] NULL,
	[work_phoe] [varchar](50) NULL,
	[work_email] [varchar](50) NULL,
	[work_nickname] [nvarchar](200) NULL,
 CONSTRAINT [PK_Work] PRIMARY KEY CLUSTERED 
(
	[work_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WorkCategory]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkCategory](
	[workcat_id] [int] IDENTITY(1,1) NOT NULL,
	[work_id] [int] NULL,
	[category_id] [int] NULL,
	[employer_id] [int] NULL,
 CONSTRAINT [PK_WorkCategory] PRIMARY KEY CLUSTERED 
(
	[workcat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkProvince]    Script Date: 15-Dec-20 6:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkProvince](
	[workprovince_id] [int] IDENTITY(1,1) NOT NULL,
	[province_id] [int] NULL,
	[work_id] [int] NULL,
	[employer_id] [int] NULL,
 CONSTRAINT [PK_WorkProvince] PRIMARY KEY CLUSTERED 
(
	[workprovince_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [category_datecreate], [category_dateupdate], [category_view], [category_active], [category_del]) VALUES (1, N'An toàn lao động', NULL, NULL, 2, 1, 0)
INSERT [dbo].[Category] ([category_id], [category_name], [category_datecreate], [category_dateupdate], [category_view], [category_active], [category_del]) VALUES (2, N'Bác sỹ', NULL, NULL, 3, 1, 0)
INSERT [dbo].[Category] ([category_id], [category_name], [category_datecreate], [category_dateupdate], [category_view], [category_active], [category_del]) VALUES (3, N'Bán hàng kỹ thuật', NULL, NULL, 4, 1, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Cv] ON 

SET IDENTITY_INSERT [dbo].[Cv] OFF
SET IDENTITY_INSERT [dbo].[Employer] ON 

SET IDENTITY_INSERT [dbo].[Employer] OFF
SET IDENTITY_INSERT [dbo].[ExpYear] ON 

INSERT [dbo].[ExpYear] ([expyear_id], [expyear_name]) VALUES (1, N'Không cần kinh nghiệm')
INSERT [dbo].[ExpYear] ([expyear_id], [expyear_name]) VALUES (2, N'1 năm')
INSERT [dbo].[ExpYear] ([expyear_id], [expyear_name]) VALUES (3, N'2 năm')
SET IDENTITY_INSERT [dbo].[ExpYear] OFF
SET IDENTITY_INSERT [dbo].[Form] ON 

INSERT [dbo].[Form] ([form_id], [form_name]) VALUES (1, N'Không yêu cầu')
INSERT [dbo].[Form] ([form_id], [form_name]) VALUES (2, N'Bán thời gian')
INSERT [dbo].[Form] ([form_id], [form_name]) VALUES (3, N'Toàn thời gian')
SET IDENTITY_INSERT [dbo].[Form] OFF
SET IDENTITY_INSERT [dbo].[Layout] ON 

SET IDENTITY_INSERT [dbo].[Layout] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([position_id], [position_name], [position_datacreate], [position_dateupdate]) VALUES (1, N'Nhân viên', NULL, NULL)
INSERT [dbo].[Position] ([position_id], [position_name], [position_datacreate], [position_dateupdate]) VALUES (2, N'Kế toán', NULL, NULL)
INSERT [dbo].[Position] ([position_id], [position_name], [position_datacreate], [position_dateupdate]) VALUES (3, N'Marketing', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([province_id], [province_name], [province_del]) VALUES (1, N'An Giang', NULL)
INSERT [dbo].[Province] ([province_id], [province_name], [province_del]) VALUES (2, N'Bà Rịa - Vũng Tàu', NULL)
INSERT [dbo].[Province] ([province_id], [province_name], [province_del]) VALUES (3, N'Bắc Giang', NULL)
SET IDENTITY_INSERT [dbo].[Province] OFF
SET IDENTITY_INSERT [dbo].[Search] ON 

INSERT [dbo].[Search] ([search_id], [search_key], [search_count], [search_date]) VALUES (1, N'An toàn lao động', 12, CAST(0x0000AC8801348FA6 AS DateTime))
INSERT [dbo].[Search] ([search_id], [search_key], [search_count], [search_date]) VALUES (2, N'An Giang', 7, CAST(0x0000AC880134649F AS DateTime))
INSERT [dbo].[Search] ([search_id], [search_key], [search_count], [search_date]) VALUES (3, N'Dược sĩ', 1, CAST(0x0000AC7A01657E89 AS DateTime))
SET IDENTITY_INSERT [dbo].[Search] OFF
SET IDENTITY_INSERT [dbo].[ServicePack] ON 

INSERT [dbo].[ServicePack] ([servicepack_id], [servicepack_title], [servicepack_description], [servicepack_listedprice], [servicepack_actualprice], [servicepack_unit], [servicepack_users], [servicepack_emloyers]) VALUES (1, N'Basic', N'nạp lần đầu x2 gem', 135000.0000, 99000.0000, N'1 tuần', 1, NULL)
INSERT [dbo].[ServicePack] ([servicepack_id], [servicepack_title], [servicepack_description], [servicepack_listedprice], [servicepack_actualprice], [servicepack_unit], [servicepack_users], [servicepack_emloyers]) VALUES (2, N'Business', N'tặng 1 chai dầu gội đầu buồi', 235000.0000, 199000.0000, N'1 tháng', 1, NULL)
INSERT [dbo].[ServicePack] ([servicepack_id], [servicepack_title], [servicepack_description], [servicepack_listedprice], [servicepack_actualprice], [servicepack_unit], [servicepack_users], [servicepack_emloyers]) VALUES (3, N'Enterprise', N'tăng 1 chai xịt háng thơm cu', 2000000.0000, 1750000.0000, N'1 năm', 1, NULL)
SET IDENTITY_INSERT [dbo].[ServicePack] OFF
SET IDENTITY_INSERT [dbo].[Sex] ON 

INSERT [dbo].[Sex] ([sex_id], [sex_name]) VALUES (1, N'Không')
INSERT [dbo].[Sex] ([sex_id], [sex_name]) VALUES (2, N'Nam')
INSERT [dbo].[Sex] ([sex_id], [sex_name]) VALUES (3, N'Nữ')
SET IDENTITY_INSERT [dbo].[Sex] OFF
SET IDENTITY_INSERT [dbo].[Theme] ON 

INSERT [dbo].[Theme] ([theme_id], [theme_title], [vtheme], [theme_img]) VALUES (1, N'Mẫu CV tiêu chuẩn', 1, N'mau-cv-default.jpg')
INSERT [dbo].[Theme] ([theme_id], [theme_title], [vtheme], [theme_img]) VALUES (2, N'Mẫu CV Senior', 1, N'mau-cv-senior.jpg')
SET IDENTITY_INSERT [dbo].[Theme] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [user_email], [user_pass], [user_name], [user_active], [user_del], [user_datecreate], [user_datelogin], [user_img], [user_sex], [user_interests]) VALUES (1, N'huynhminhtan4019@gmail.com', N'tanlovevy', N'Tấn Huỳnh', 1, 0, CAST(0x0000AC770116F73C AS DateTime), CAST(0x0000AC770116F73C AS DateTime), N'139e385b-3b5a-4985-ad2a-9688541251e3.jpg', NULL, NULL)
INSERT [dbo].[Users] ([user_id], [user_email], [user_pass], [user_name], [user_active], [user_del], [user_datecreate], [user_datelogin], [user_img], [user_sex], [user_interests]) VALUES (2, N'laptring@gmail.com', N'0924404019Aa@1111', N'Tấn', 1, 0, CAST(0x0000AC7800BDDC40 AS DateTime), CAST(0x0000AC7800BDDC40 AS DateTime), N'user-male--v1.png', NULL, NULL)
INSERT [dbo].[Users] ([user_id], [user_email], [user_pass], [user_name], [user_active], [user_del], [user_datecreate], [user_datelogin], [user_img], [user_sex], [user_interests]) VALUES (3, N'tanhuynh123@gmail.com', N'0924404019a@Aa', N'Tấn Huỳnh', 1, 0, CAST(0x0000AC8301361EC9 AS DateTime), CAST(0x0000AC8301361EC9 AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Version] ON 

INSERT [dbo].[Version] ([version_id], [varsion_name]) VALUES (1, N'Miễn phí')
INSERT [dbo].[Version] ([version_id], [varsion_name]) VALUES (2, N'Cơ bản')
INSERT [dbo].[Version] ([version_id], [varsion_name]) VALUES (3, N'Cao cấp')
SET IDENTITY_INSERT [dbo].[Version] OFF
SET IDENTITY_INSERT [dbo].[VersionTheme] ON 

INSERT [dbo].[VersionTheme] ([vtheme], [vtheme_name]) VALUES (1, N'Miễn phí')
INSERT [dbo].[VersionTheme] ([vtheme], [vtheme_name]) VALUES (2, N'Cao cấp')
INSERT [dbo].[VersionTheme] ([vtheme], [vtheme_name]) VALUES (3, N'Khử nghiệm')
SET IDENTITY_INSERT [dbo].[VersionTheme] OFF
SET IDENTITY_INSERT [dbo].[Work] ON 

SET IDENTITY_INSERT [dbo].[Work] OFF
SET IDENTITY_INSERT [dbo].[WorkCategory] ON 

INSERT [dbo].[WorkCategory] ([workcat_id], [work_id], [category_id], [employer_id]) VALUES (7, 11, 38, NULL)
INSERT [dbo].[WorkCategory] ([workcat_id], [work_id], [category_id], [employer_id]) VALUES (8, 11, 8, NULL)
INSERT [dbo].[WorkCategory] ([workcat_id], [work_id], [category_id], [employer_id]) VALUES (23, 12, 4, NULL)
SET IDENTITY_INSERT [dbo].[WorkCategory] OFF
SET IDENTITY_INSERT [dbo].[WorkProvince] ON 

INSERT [dbo].[WorkProvince] ([workprovince_id], [province_id], [work_id], [employer_id]) VALUES (8, 24, 8, NULL)
INSERT [dbo].[WorkProvince] ([workprovince_id], [province_id], [work_id], [employer_id]) VALUES (9, 2, 11, NULL)
INSERT [dbo].[WorkProvince] ([workprovince_id], [province_id], [work_id], [employer_id]) VALUES (10, 9, 11, NULL)
SET IDENTITY_INSERT [dbo].[WorkProvince] OFF
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Employer] FOREIGN KEY([employer_id])
REFERENCES [dbo].[Employer] ([employer_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Employer]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Users]
GO
ALTER TABLE [dbo].[Cv]  WITH CHECK ADD  CONSTRAINT [FK_Cv_Sex] FOREIGN KEY([sex_id])
REFERENCES [dbo].[Sex] ([sex_id])
GO
ALTER TABLE [dbo].[Cv] CHECK CONSTRAINT [FK_Cv_Sex]
GO
ALTER TABLE [dbo].[Cv]  WITH CHECK ADD  CONSTRAINT [FK_Cv_specialized] FOREIGN KEY([specialized_id])
REFERENCES [dbo].[Specialized] ([specialized_id])
GO
ALTER TABLE [dbo].[Cv] CHECK CONSTRAINT [FK_Cv_specialized]
GO
ALTER TABLE [dbo].[Cv]  WITH CHECK ADD  CONSTRAINT [FK_Cv_Species] FOREIGN KEY([species_id])
REFERENCES [dbo].[Species] ([species_id])
GO
ALTER TABLE [dbo].[Cv] CHECK CONSTRAINT [FK_Cv_Species]
GO
ALTER TABLE [dbo].[Cv]  WITH CHECK ADD  CONSTRAINT [FK_Cv_Theme] FOREIGN KEY([theme_id])
REFERENCES [dbo].[Theme] ([theme_id])
GO
ALTER TABLE [dbo].[Cv] CHECK CONSTRAINT [FK_Cv_Theme]
GO
ALTER TABLE [dbo].[Cv]  WITH CHECK ADD  CONSTRAINT [FK_Cv_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Cv] CHECK CONSTRAINT [FK_Cv_Users]
GO
ALTER TABLE [dbo].[Employer]  WITH CHECK ADD  CONSTRAINT [FK_Employer_Version] FOREIGN KEY([version_id])
REFERENCES [dbo].[Version] ([version_id])
GO
ALTER TABLE [dbo].[Employer] CHECK CONSTRAINT [FK_Employer_Version]
GO
ALTER TABLE [dbo].[Favourite]  WITH CHECK ADD  CONSTRAINT [FK_Favourite_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Favourite] CHECK CONSTRAINT [FK_Favourite_User]
GO
ALTER TABLE [dbo].[Favourite]  WITH CHECK ADD  CONSTRAINT [FK_Favourite_Work] FOREIGN KEY([work_id])
REFERENCES [dbo].[Work] ([work_id])
GO
ALTER TABLE [dbo].[Favourite] CHECK CONSTRAINT [FK_Favourite_Work]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employer] FOREIGN KEY([employer_id])
REFERENCES [dbo].[Employer] ([employer_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_ServicePack] FOREIGN KEY([servicepack_id])
REFERENCES [dbo].[ServicePack] ([servicepack_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_ServicePack]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply_Comment] FOREIGN KEY([comment_id])
REFERENCES [dbo].[Comment] ([comment_id])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply_Comment]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply_Users]
GO
ALTER TABLE [dbo].[SubmitCV]  WITH CHECK ADD  CONSTRAINT [FK_SubmitCV_Cv] FOREIGN KEY([cv_id])
REFERENCES [dbo].[Cv] ([cv_id])
GO
ALTER TABLE [dbo].[SubmitCV] CHECK CONSTRAINT [FK_SubmitCV_Cv]
GO
ALTER TABLE [dbo].[SubmitCV]  WITH CHECK ADD  CONSTRAINT [FK_SubmitCV_Cv1] FOREIGN KEY([cv_id])
REFERENCES [dbo].[Cv] ([cv_id])
GO
ALTER TABLE [dbo].[SubmitCV] CHECK CONSTRAINT [FK_SubmitCV_Cv1]
GO
ALTER TABLE [dbo].[SubmitCV]  WITH CHECK ADD  CONSTRAINT [FK_SubmitCV_Work] FOREIGN KEY([work_id])
REFERENCES [dbo].[Work] ([work_id])
GO
ALTER TABLE [dbo].[SubmitCV] CHECK CONSTRAINT [FK_SubmitCV_Work]
GO
ALTER TABLE [dbo].[SubmitCV]  WITH CHECK ADD  CONSTRAINT [FK_SubmitCV_Work1] FOREIGN KEY([work_id])
REFERENCES [dbo].[Work] ([work_id])
GO
ALTER TABLE [dbo].[SubmitCV] CHECK CONSTRAINT [FK_SubmitCV_Work1]
GO
ALTER TABLE [dbo].[Theme]  WITH CHECK ADD  CONSTRAINT [FK_Theme_VersionTheme] FOREIGN KEY([vtheme])
REFERENCES [dbo].[VersionTheme] ([vtheme])
GO
ALTER TABLE [dbo].[Theme] CHECK CONSTRAINT [FK_Theme_VersionTheme]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Employer] FOREIGN KEY([employer_id])
REFERENCES [dbo].[Employer] ([employer_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Employer]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_ExpYear] FOREIGN KEY([expyear_id])
REFERENCES [dbo].[ExpYear] ([expyear_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_ExpYear]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Form] FOREIGN KEY([form_id])
REFERENCES [dbo].[Form] ([form_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Form]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Position] FOREIGN KEY([position_id])
REFERENCES [dbo].[Position] ([position_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Position]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Province] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Province]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Sex] FOREIGN KEY([sex_id])
REFERENCES [dbo].[Sex] ([sex_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Sex]
GO
ALTER TABLE [dbo].[WorkCategory]  WITH CHECK ADD  CONSTRAINT [FK_WorkCategory_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[WorkCategory] CHECK CONSTRAINT [FK_WorkCategory_Category]
GO
ALTER TABLE [dbo].[WorkCategory]  WITH CHECK ADD  CONSTRAINT [FK_WorkCategory_Employer] FOREIGN KEY([employer_id])
REFERENCES [dbo].[Employer] ([employer_id])
GO
ALTER TABLE [dbo].[WorkCategory] CHECK CONSTRAINT [FK_WorkCategory_Employer]
GO
ALTER TABLE [dbo].[WorkCategory]  WITH CHECK ADD  CONSTRAINT [FK_WorkCategory_Work] FOREIGN KEY([work_id])
REFERENCES [dbo].[Work] ([work_id])
GO
ALTER TABLE [dbo].[WorkCategory] CHECK CONSTRAINT [FK_WorkCategory_Work]
GO
ALTER TABLE [dbo].[WorkProvince]  WITH CHECK ADD  CONSTRAINT [FK_WorkProvince_Employer] FOREIGN KEY([employer_id])
REFERENCES [dbo].[Employer] ([employer_id])
GO
ALTER TABLE [dbo].[WorkProvince] CHECK CONSTRAINT [FK_WorkProvince_Employer]
GO
ALTER TABLE [dbo].[WorkProvince]  WITH CHECK ADD  CONSTRAINT [FK_WorkProvince_Province] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[WorkProvince] CHECK CONSTRAINT [FK_WorkProvince_Province]
GO
ALTER TABLE [dbo].[WorkProvince]  WITH CHECK ADD  CONSTRAINT [FK_WorkProvince_Work] FOREIGN KEY([work_id])
REFERENCES [dbo].[Work] ([work_id])
GO
ALTER TABLE [dbo].[WorkProvince] CHECK CONSTRAINT [FK_WorkProvince_Work]
GO
USE [master]
GO
