USE [master]
GO
/****** Object:  Database [DataWork_project]    Script Date: 21-Nov-20 11:39:51 PM ******/
CREATE DATABASE [DataWork_project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataWork_project', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DataWork_project.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DataWork_project_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DataWork_project_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataWork_project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataWork_project]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NULL,
	[category_datecreate] [datetime] NULL,
	[category_dateupdate] [datetime] NULL,
	[category_view] [int] NULL,
	[category_active] [bit] NULL,
	[category_del] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cv]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cv](
	[cv_id] [int] IDENTITY(1,1) NOT NULL,
	[cv_fullname] [nvarchar](200) NULL,
	[cv_location] [nvarchar](200) NULL,
	[cv_bird] [datetime] NULL,
	[cv_sex] [int] NULL,
	[cv_phone] [varchar](50) NULL,
	[cv_email] [nvarchar](200) NULL,
	[cv_address] [nvarchar](200) NULL,
	[cv_linkfc] [nvarchar](300) NULL,
	[cv_target] [nvarchar](max) NULL,
	[cv_datebegineducation] [datetime] NULL,
	[cv_dateendeducation] [datetime] NULL,
	[cv_contenteducation] [nvarchar](max) NULL,
	[cv_datebeginexp] [datetime] NULL,
	[cv_dateendexp] [datetime] NULL,
	[cv_contentexp] [nvarchar](max) NULL,
	[cv_datebeginexptwo] [date] NULL,
	[cv_dateendexptwo] [date] NULL,
	[cv_contentexptwo] [nvarchar](max) NULL,
	[cv_datebeginactivate] [datetime] NULL,
	[cv_dateendactivate] [datetime] NULL,
	[cv_contentactivate] [nvarchar](max) NULL,
	[cv_contentcertificate] [nvarchar](max) NULL,
	[cv_contentreward] [nvarchar](max) NULL,
	[cv_english] [nvarchar](max) NULL,
	[cv_IT] [nvarchar](max) NULL,
	[user_id] [int] NULL,
	[cv_numbertheme] [int] NULL,
	[cv_yearre] [nvarchar](50) NULL,
	[cv_yearcerti] [nvarchar](50) NULL,
	[cv_schools] [nvarchar](200) NULL,
	[cv_industrystory] [nvarchar](200) NULL,
	[cv_species] [int] NULL,
	[cv_point] [varchar](100) NULL,
	[cv_roleexp] [nvarchar](100) NULL,
	[cv_roleexptwo] [nvarchar](100) NULL,
	[cv_activate] [bit] NULL,
	[cv_option] [bit] NULL,
	[cv_datecreated] [datetime] NULL,
	[career_id] [int] NULL,
	[cv_schoolname] [nvarchar](100) NULL,
	[cv_companyname] [nvarchar](100) NULL,
	[cv_companynametwo] [nvarchar](100) NULL,
	[cv_images] [nvarchar](2000) NULL,
	[cv_theme] [int] NULL,
	[cv_dateupdate] [datetime] NULL,
 CONSTRAINT [PK_Cv] PRIMARY KEY CLUSTERED 
(
	[cv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employer]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employer](
	[employer_id] [int] IDENTITY(1,1) NOT NULL,
	[employer_email] [varchar](100) NULL,
	[employer_pass] [varchar](200) NULL,
	[employer_fullname] [varchar](100) NULL,
	[employer_company] [nvarchar](150) NULL,
	[employer_position] [int] NULL,
	[employer_address] [nvarchar](300) NULL,
	[employer_phone] [varchar](15) NULL,
	[employer_token] [nvarchar](max) NULL,
	[employer_datelogin] [datetime] NULL,
	[employer_datecreated] [datetime] NULL,
	[employer_active] [bit] NULL,
	[employer_status] [bit] NULL,
	[employer_logo] [nvarchar](max) NULL,
	[employer_specialized] [nvarchar](200) NULL,
	[employer_version] [int] NULL,
	[employer_option] [bit] NULL,
	[employer_personalpage] [bit] NULL,
	[employer_name] [nvarchar](200) NULL,
	[employer_introduce] [nvarchar](max) NULL,
	[employer_linkfc] [nvarchar](300) NULL,
	[employer_recruitment] [nvarchar](500) NULL,
	[employer_addressmain] [nvarchar](200) NULL,
	[employer_ifamemapmain] [nvarchar](max) NULL,
	[employer_addresstwo] [nvarchar](200) NULL,
	[employer_ifamemaptwo] [nvarchar](max) NULL,
	[employer_addressthree] [nvarchar](200) NULL,
	[employer_ifamemapthree] [nvarchar](max) NULL,
	[employer_province] [nvarchar](200) NULL,
	[employer_recrequirement] [nvarchar](2000) NULL,
	[employer_limit] [int] NULL,
	[employer_emailcompany] [varchar](100) NULL,
	[employer_banner] [nvarchar](1000) NULL,
	[employer_scale] [int] NULL,
	[employer_bonus] [nvarchar](300) NULL,
	[employer_foundedyear] [int] NULL,
 CONSTRAINT [PK_Employer] PRIMARY KEY CLUSTERED 
(
	[employer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExpYear]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpYear](
	[expyear_id] [int] IDENTITY(1,1) NOT NULL,
	[expyear_name] [nvarchar](200) NULL,
 CONSTRAINT [PK_ExpYear] PRIMARY KEY CLUSTERED 
(
	[expyear_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Favourite]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourite](
	[favourite_id] [int] IDENTITY(1,1) NOT NULL,
	[favourite_datecreate] [datetime] NULL,
	[work_id] [int] NULL,
	[user_id] [int] NULL,
	[favourite_delete] [bit] NULL,
 CONSTRAINT [PK_Favourite] PRIMARY KEY CLUSTERED 
(
	[favourite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Form]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[form_id] [int] IDENTITY(1,1) NOT NULL,
	[form_name] [nvarchar](200) NULL,
 CONSTRAINT [PK_Form] PRIMARY KEY CLUSTERED 
(
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Layout]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Layout](
	[layout_id] [int] IDENTITY(1,1) NOT NULL,
	[ct_1] [nvarchar](max) NULL,
	[ct_2] [nvarchar](max) NULL,
	[ct_3] [nvarchar](max) NULL,
	[ct_4] [nvarchar](max) NULL,
	[ct_5] [nvarchar](max) NULL,
	[ct_6] [nvarchar](max) NULL,
	[ct_7] [nvarchar](max) NULL,
	[ct_8] [nvarchar](max) NULL,
	[ct_9] [nvarchar](max) NULL,
	[ct_10] [nvarchar](max) NULL,
	[ct_11] [nvarchar](max) NULL,
	[ct_12] [nvarchar](max) NULL,
	[ct_13] [nvarchar](max) NULL,
	[ct_14] [nvarchar](max) NULL,
	[ct_15] [nvarchar](max) NULL,
	[ct_16] [nvarchar](max) NULL,
	[ct_17] [nvarchar](max) NULL,
	[ct_18] [nvarchar](max) NULL,
	[ct_19] [nvarchar](max) NULL,
	[ct_20] [nvarchar](max) NULL,
	[ct_21] [nvarchar](max) NULL,
	[ct_22] [nvarchar](max) NULL,
	[ct_23] [nvarchar](max) NULL,
	[ct_24] [nvarchar](max) NULL,
	[ct_25] [nvarchar](max) NULL,
 CONSTRAINT [PK_Layout] PRIMARY KEY CLUSTERED 
(
	[layout_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Position]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[position_id] [int] IDENTITY(1,1) NOT NULL,
	[position_name] [nvarchar](max) NULL,
	[position_datacreate] [datetime] NULL,
	[position_dateupdate] [datetime] NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[province_id] [int] IDENTITY(1,1) NOT NULL,
	[province_name] [nvarchar](200) NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Search]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Search](
	[search_id] [int] IDENTITY(1,1) NOT NULL,
	[search_key] [nvarchar](255) NULL,
	[search_count] [int] NULL,
	[search_date] [datetime] NULL,
 CONSTRAINT [PK_Search] PRIMARY KEY CLUSTERED 
(
	[search_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sex]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[sex_id] [int] IDENTITY(1,1) NOT NULL,
	[sex_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[sex_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](200) NULL,
	[user_pass] [nvarchar](max) NULL,
	[user_name] [nvarchar](100) NULL,
	[user_active] [bit] NULL,
	[user_del] [bit] NULL,
	[user_datecreate] [datetime] NULL,
	[user_datelogin] [datetime] NULL,
	[user_img] [nvarchar](max) NULL,
	[user_sex] [bit] NULL,
	[user_interests] [nvarchar](500) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Work]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work](
	[work_id] [int] IDENTITY(1,1) NOT NULL,
	[work_name] [nvarchar](200) NULL,
	[work_img] [nvarchar](max) NULL,
	[work_deadline] [datetime] NULL,
	[work_createdate] [datetime] NULL,
	[work_description] [nvarchar](max) NULL,
	[work_request] [nvarchar](max) NULL,
	[work_benefit] [nvarchar](max) NULL,
	[work_address] [nvarchar](1000) NULL,
	[work_money] [nvarchar](200) NULL,
	[work_amount] [int] NULL,
	[work_active] [bit] NULL,
	[work_option] [bit] NULL,
	[work_view] [int] NULL,
	[work_del] [bit] NULL,
	[work_status] [bit] NULL,
	[work_dateupdate] [datetime] NULL,
	[employer_id] [int] NULL,
	[position_id] [int] NULL,
	[sex_id] [int] NULL,
	[province_id] [int] NULL,
	[expyear_id] [int] NULL,
	[form_id] [int] NULL,
 CONSTRAINT [PK_Work] PRIMARY KEY CLUSTERED 
(
	[work_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkCategory]    Script Date: 21-Nov-20 11:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkCategory](
	[workcat_id] [int] IDENTITY(1,1) NOT NULL,
	[work_id] [int] NULL,
	[category_id] [int] NULL,
 CONSTRAINT [PK_WorkCategory] PRIMARY KEY CLUSTERED 
(
	[workcat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [category_datecreate], [category_dateupdate], [category_view], [category_active], [category_del]) VALUES (1, N'An toàn lao động', NULL, NULL, 2, 1, 0)
INSERT [dbo].[Category] ([category_id], [category_name], [category_datecreate], [category_dateupdate], [category_view], [category_active], [category_del]) VALUES (2, N'Bác sỹ', NULL, NULL, 3, 1, 0)
INSERT [dbo].[Category] ([category_id], [category_name], [category_datecreate], [category_dateupdate], [category_view], [category_active], [category_del]) VALUES (3, N'Bán hàng kỹ thuật', NULL, NULL, 4, 1, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Employer] ON 

SET IDENTITY_INSERT [dbo].[Employer] OFF
SET IDENTITY_INSERT [dbo].[ExpYear] ON 

INSERT [dbo].[ExpYear] ([expyear_id], [expyear_name]) VALUES (1, N'Không cần kinh nghiệm')
INSERT [dbo].[ExpYear] ([expyear_id], [expyear_name]) VALUES (2, N'1 năm')
INSERT [dbo].[ExpYear] ([expyear_id], [expyear_name]) VALUES (3, N'2 năm')
SET IDENTITY_INSERT [dbo].[ExpYear] OFF
SET IDENTITY_INSERT [dbo].[Favourite] ON 

INSERT [dbo].[Favourite] ([favourite_id], [favourite_datecreate], [work_id], [user_id], [favourite_delete]) VALUES (2, CAST(0x0000AC7A01858BD7 AS DateTime), 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Favourite] OFF
SET IDENTITY_INSERT [dbo].[Form] ON 

INSERT [dbo].[Form] ([form_id], [form_name]) VALUES (1, N'Không yêu cầu')
INSERT [dbo].[Form] ([form_id], [form_name]) VALUES (2, N'Bán thời gian')
INSERT [dbo].[Form] ([form_id], [form_name]) VALUES (3, N'Toàn thời gian')
SET IDENTITY_INSERT [dbo].[Form] OFF
SET IDENTITY_INSERT [dbo].[Layout] ON 

SET IDENTITY_INSERT [dbo].[Layout] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([position_id], [position_name], [position_datacreate], [position_dateupdate]) VALUES (1, N'Nhân viên', NULL, NULL)
INSERT [dbo].[Position] ([position_id], [position_name], [position_datacreate], [position_dateupdate]) VALUES (2, N'Kế toán', NULL, NULL)
INSERT [dbo].[Position] ([position_id], [position_name], [position_datacreate], [position_dateupdate]) VALUES (3, N'Marketing', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (1, N'An Giang')
INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (2, N'Bà Rịa - Vũng Tàu')
INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (3, N'Bắc Giang')
SET IDENTITY_INSERT [dbo].[Province] OFF
SET IDENTITY_INSERT [dbo].[Search] ON 

INSERT [dbo].[Search] ([search_id], [search_key], [search_count], [search_date]) VALUES (1, N'An toàn lao động', 6, CAST(0x0000AC7A016DCCF5 AS DateTime))
INSERT [dbo].[Search] ([search_id], [search_key], [search_count], [search_date]) VALUES (2, N'An Giang', 6, CAST(0x0000AC7A016DCCFD AS DateTime))
INSERT [dbo].[Search] ([search_id], [search_key], [search_count], [search_date]) VALUES (3, N'Dược sĩ', 1, CAST(0x0000AC7A01657E89 AS DateTime))
SET IDENTITY_INSERT [dbo].[Search] OFF
SET IDENTITY_INSERT [dbo].[Sex] ON 

INSERT [dbo].[Sex] ([sex_id], [sex_name]) VALUES (1, N'Không yêu cầu giới tính')
INSERT [dbo].[Sex] ([sex_id], [sex_name]) VALUES (2, N'Nam')
INSERT [dbo].[Sex] ([sex_id], [sex_name]) VALUES (3, N'Nữ')
SET IDENTITY_INSERT [dbo].[Sex] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [user_email], [user_pass], [user_name], [user_active], [user_del], [user_datecreate], [user_datelogin], [user_img], [user_sex], [user_interests]) VALUES (1, N'huynhminhtan4019@gmail.com', N'Tanthao11@', N'Tấn Huỳnh', 1, 0, CAST(0x0000AC770116F82E AS DateTime), CAST(0x0000AC770116F82E AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Users] ([user_id], [user_email], [user_pass], [user_name], [user_active], [user_del], [user_datecreate], [user_datelogin], [user_img], [user_sex], [user_interests]) VALUES (2, N'laptring@gmail.com', N'0924404019Aa@1111', N'Tấn', 1, 0, CAST(0x0000AC7800BDDC40 AS DateTime), CAST(0x0000AC7800BDDC40 AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Work] ON 

SET IDENTITY_INSERT [dbo].[Work] OFF
SET IDENTITY_INSERT [dbo].[WorkCategory] ON 

INSERT [dbo].[WorkCategory] ([workcat_id], [work_id], [category_id]) VALUES (1, 1, 30)
SET IDENTITY_INSERT [dbo].[WorkCategory] OFF
ALTER TABLE [dbo].[Favourite]  WITH CHECK ADD  CONSTRAINT [FK_Favourite_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Favourite] CHECK CONSTRAINT [FK_Favourite_User]
GO
ALTER TABLE [dbo].[Favourite]  WITH CHECK ADD  CONSTRAINT [FK_Favourite_Work] FOREIGN KEY([work_id])
REFERENCES [dbo].[Work] ([work_id])
GO
ALTER TABLE [dbo].[Favourite] CHECK CONSTRAINT [FK_Favourite_Work]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Employer] FOREIGN KEY([employer_id])
REFERENCES [dbo].[Employer] ([employer_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Employer]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_ExpYear] FOREIGN KEY([expyear_id])
REFERENCES [dbo].[ExpYear] ([expyear_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_ExpYear]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Form] FOREIGN KEY([form_id])
REFERENCES [dbo].[Form] ([form_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Form]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Position] FOREIGN KEY([position_id])
REFERENCES [dbo].[Position] ([position_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Position]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Province] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Province]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Sex] FOREIGN KEY([sex_id])
REFERENCES [dbo].[Sex] ([sex_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Sex]
GO
ALTER TABLE [dbo].[WorkCategory]  WITH CHECK ADD  CONSTRAINT [FK_WorkCategory_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[WorkCategory] CHECK CONSTRAINT [FK_WorkCategory_Category]
GO
ALTER TABLE [dbo].[WorkCategory]  WITH CHECK ADD  CONSTRAINT [FK_WorkCategory_Work] FOREIGN KEY([work_id])
REFERENCES [dbo].[Work] ([work_id])
GO
ALTER TABLE [dbo].[WorkCategory] CHECK CONSTRAINT [FK_WorkCategory_Work]
GO
USE [master]
GO
